@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Portal Arôme</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Quem Somos</h2>
        <p>
            A plataforma Portal Aromê vem para atender a grande massa dos nossos revendedores para que possam ter total controle de sua conta. Desenvolvida para consulta de dados sobre suas vendas, <br />
            futuras compras realizadas e dúvidas sobre como se tornar um de nós. A Aromê pretende alcançar boa parte das mulheres brasileiras, com a criação de oportunidades de empregos para essas vendedoras que precisam, <br />
            apenas, de um incentivo a mais para descobrir esse lado empreendedor que cada uma carrega em seu DNA.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Com a Arôme você pode:</h2>
        <p>Efetuar pedidos com os fornecedores de forma segura; <br />
           Acompanhar suas vendas; <br />
           Controle de Pagamentos do Clientes; <br />
            </p>
    </div>
    <div class="col-md-4">
        <h2>Empresas Parceiras</h2>
        <p>
            A Aromê trabalha com o objetivo de proporcionar as melhores oportunidades para você. <br />
            Temos parcerias com as principais marcas de cosméticos do Brasil. <br />
            Escolha qual deseja fazer parte e começe agora a realizar seus sonhos junto com a gente. <br />
        </p>
      
    </div>
</div>