@model ECommerce.Models.Departaments

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Departamento</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.DepartamentsId }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
